<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Project</title>
    <link rel="stylesheet" href="../previewOfAnEvent/styleEvent.css">
    <link rel="shortcut icon" type="image/png" href="../images/Eventfavicon.icon">
</head>

<body>
    <div id="wrapper">
        <header>
            <h1 id="title"><a href="https://www.stonesour.com/" target="_blank">Stone Sour</a></h1>
        </header>
        <div id="picture"><img src="./../images/StoneSour.jpeg"></div>
        <div id="description">Stone Sour playing live in Sofia. Special guests: "Nothing More" and "Dash the effort"</div>
        <div id="location"><span>Where?</span><a href="https://www.google.bg/maps/place/%D0%98%D0%BD%D1%82%D0%B5%D1%80+%D0%95%D0%BA%D1%81%D0%BF%D0%BE+%D0%A6%D0%B5%D0%BD%D1%82%D1%8A%D1%80/@42.6490531,23.3952273,15z/data=!4m2!3m1!1s0x0:0x6c12373c870fef3c?sa=X&ved=2ahUKEwj2pduOk_fdAhUkqIsKHRwyDDwQ_BIwEXoECAgQCw"
                target="_blank">    Inter Expo Center </a></div>
        <div id="dateTime">When? <span>27/06/2018 7:00 PM</span></div>
    </div>
</body>

</html>